.viewCardContainer {
    display: flex;
    justify-content: space-between;
    border: 1px solid darkgray;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 0.5rem;
    background-color: #ffffff;

    >div:nth-child(1) {
        display: flex;

        svg {
            // background-color: #F8F9F9;
            background-color: darkgray;
            color: #ffffff;
            padding: 0.4rem;
            border-radius: 0.25rem;
        }

        >div {
            padding-inline: 1rem;

            span {
                font-size: 0.8rem;
                color: #111;
            }

            p {
                font-weight: 600;
            }
        }
    }

    >div:nth-child(2) {
        margin-block: auto;

        p {
            font-weight: 600;
        }
    }
}