.profileCardContainer {
    border: 1px solid darkgrey;
    display: flex;
    width: fit-content;
    padding-block: 0.25rem;
    padding-inline: 1rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    &:hover{
        background-color: #F8F9F9;
    }

    p {
        margin: auto;
        padding-inline: 0.25rem;
    }

    p+svg {
        margin: auto;
        cursor: pointer;
    }
}