.homeContainer {
    padding: 2%;

    .viewCard {
        padding-block-end: 3rem;
    }

    .meetingAndClockIn {
        width: 100%;
        justify-content: space-between;
        padding-block-end: 4rem;

        >div:nth-child(1),
        >div:nth-child(2) {
            width: 49%;
        }
    }
}