.bankDetailContainer {
    border-radius: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-block: 5%;

    h5 {
        padding-inline: 5%;
    }

    hr {
        margin-block: 2rem;
    }

    .bankDetail {
        padding-inline: 5%;

        >div>div {
            width: 95%;
            margin-block: 1rem;

        }

        >div>div>div {
            width: 100%;
        }
    }

    .bankDetail+div {
        padding-inline-start: 5%;
        padding-inline-end: 4%;

        >div {
            width: 100% !important;
        }
    }

}