.profileCardContainer {
    .profileHeading {
        display: flex;
        justify-content: space-between;
    }

    .profileImage {
        width: fit-content;
        margin: auto;

        img {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;

        }
    }
}